asgiref==3.4.1
anyio==3.5.0
environs==9.4.0
fastapi==0.71.0
gunicorn==20.1.0
h11==0.12.0
idna==3.3
marshmallow==3.14.1
pdfminer.six==20200726
pydantic==1.9.0
python-multipart==0.0.5
starlette==0.17.1
typing-extensions==4.0.1
Unidecode==1.1.1
uvicorn==0.17.0