@media(max-width:768px) {
    #btn-copy-editor, #btn-copy-postprocess-result {
        display: none;
    }
}

.scroll-container {
    overflow: auto;
    height: 400px;
}

.disappearing-alert {
    position: fixed;
    top: 4vh;
    width: inherit;
    max-width: inherit;
    z-index:99;
}